header {

    padding: 10px;
    
    .header--row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }

}